
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-image: url('images/background\ img/home bg3.jpg');
}

.logo{
    width: 200px;
    height: 200px;
    position: relative; 
   
 }
 .logo-name{
  position: relative;
  color:red;
  text-align:center;
  left:-35%;
  h5{
    color: black;
  }
  
 }
 .img{
  position:relative;
  padding-top:45px;

 }

/* .logo{
    width: 200px;
    height: 200px;
    position: relative; 
   
 }
 .logo-name{
 
  position: relative;
  color:red;
  text-align:center;
  left:-21%;
  h5{
    color: black;
  }
  
 }
 .img{
  position:relative;
  padding-top:100px;
  margin-left:21%;
 }
  
 */

/* body{
    margin: 0;
    padding: 0;
    background: url(back.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: sans-serif;
} */

.box{
    background: white;
    /* color:orangered; */
    top: 48%;
    margin:15px;
    /* left: 80%; */
    /* right:0%; */
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 35px 40px;
    border-radius:15px;
    border:5px whitesmoke;
    box-shadow:5px 10px 18px #888888;
    
}
.user-details .input-box .details{
    display: block;
    font-weight: 400;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.box .input-box input:focus,
.box .input-box input:valid{
  border-color:orange;

}

.box h2{
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    font-size:30px;
    color: orangered;
}

.box p{
    color: #f49126;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

input{
    width: 100%;
    margin-bottom: 10px;
}

 input[type="text"], input[type="password"] ,input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #673ab7;
    font-size: 16px;
}

input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #2196f3;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}


input[type="submit"]:hover
{
    cursor: pointer;
    background: #0097a7;
}

a
{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #069818;
}


a:hover
{
    color: red;
}

/* register page */


 /* .box2{
    width: 500px;
    background: #f5f5f5;
    color: orangered;
    top:64%;
    right:-20%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing:content-box;
    padding:0px 30px;
}



h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: black;
}

 p{
    color: #f49126;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

 input{
    width: 100%;
    margin-bottom: 10px;
}

 input[type="text"], input[type="password"] ,input[type="date"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #673ab7;
    font-size: 16px;
}
input[type="ratio"]{
    margin: auto;
    padding: 0;
}



 input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #2196f3;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}


 input[type="submit"]:hover
{
    cursor: pointer;
    background: #0097a7;
}

 a
{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #069818;
}

 a:hover
{
    color: red;
}
 */


 @media(max-width:584px){
    .container{
    max-width:100%;
    
    }
    
  

}




